<nav class="navbar navbar-default navbar-fixed-top home-header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>" >
        <!-- <img alt="Brand" src="..."> -->
        Product Tracker
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" class="navbar-link">About</a></li>
      <li><a href="#" class="navbar-link">Contact</a></li>
    </ul>
  </div>
</nav>
