/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$body-bg: #ecf0f1
$navbar-inverse-bg: #444
$navbar-inverse-link-color: white
$brand-primary: #08306B
$pannel-primary: #08306B
$jumbotron-bg: #bdc3c7
@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700)
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700)

body
  font-family: 'Roboto', 'Helvetica', 'sans-serif'
  color: #444

body#homepage
  background: url('https://images.unsplash.com/photo-1428452932365-4e7e1c4b0987?q=80&fm=jpg&s=65ec6a6b5ce90c1448e0760e0eb2d467') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  // https://images.unsplash.com/uploads/1413395496082cbc91228/43e39040?q=80&fm=jpg&s=ef4acb9f201cc553006a568c8b616165
  // https://images.unsplash.com/36/X7L5hgFXQZazzPaK3goC_14084990857_88cabf3b6d_o.jpg?q=80&fm=jpg&s=24483760876f49ba7ed460c10807f555

h1
  font-weight: 100

h2, h3, h4, h5, h6
  font-weight: 400

.footer
  text-align: center
  padding: 12px 10px 0px 10px
