// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #333;
  color: #fafafa;
}

hr {
  border: solid #444 1px;
}

iframe {
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 25px 0 25px 0;
}

.item-reviews {
  width: 50%;
  height: 400px;
  margin: 25px auto;
}

.negative-review,
.postive-review{
  display: none;
}
