<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-left navbar-brand"><a href="/">Product Tracker</a></p>
      <%= form_tag(products_path, method: 'get', class: 'navbar-form navbar-left') do %>
        <%= text_field_tag 'product[q]', nil, placeholder: 'Search', class: 'form-control' %>
        <%= submit_tag 'Submit', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</nav>
