<div class="row-fluid">
  <div class="span12">
    Sentiment Review Data
    <div class="row-fluid">
      <div class="span4">
	Best Review:<br>
	<%= @dashboard[:best_review]%>
      </div>
      <div class="span4">
	Worst Review:<br>
	<%= @dashboard[:worst_review]%>
      </div>
      <div class="span4">
	Best Sentence:<br>
	<%= @dashboard[:best_sentence]%>
	Worst Sentence:<br>
	<%= @dashboard[:worst_sentence]%>
      </div>
    </div>
  </div>
</div>
