<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <% if product %>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb" style="overflow:hidden;height:260px;min-width:300px;">
          <%= link_to product do %>
            <%= truncate(product.title, length: 55) %>
            <%= image_tag(product.image_url, class: 'img-responsive') %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- style="height:220px;width:100%;min-width:300px;min-height:100px;padding-bottom:0px;margin-bottom:5px;" -->
