<div class="items-search">
  <%= form_tag('/search', method: "get") do %>
    <%= label_tag(:q, "Search for  product review:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>


