<!DOCTYPE html>
<html>
<head>
  <title>ProductTracker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  // if ($(".overall").data(p, "overall") == "positive" ){
    $(".positive-review").style("color", "red");
    $(".positive-review").show();
  // } else {
    $(".negative-review").style("color", "red");
    $(".negative-review").show();
  // }
</script>

<%= yield %>

</body>
</html>
